# 🧠 مجلدات يجب تجاهلها دائمًا
node_modules/
dist/
build/

# 🔐 ملفات البيئة الحساسة
.env
.env.local
.env.production

# ⚒️ ملفات مؤقتة أو Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ⚙️ ملفات إعدادات بيئة التطوير
.idea/
.vscode/

# 🖥️ ملفات نظام التشغيل
.DS_Store
Thumbs.db